header.crawler-tool-header
	nav.navbar.navbar-expand-lg.navbar-mainbg.crawler-tool-navbar
		a.navbar-brand.navbar-logo(href='#') Cruncss
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
			i.fas.fa-bars.text-white
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				.hori-selector
					.left
					.right
				li.nav-item.active
					a.nav-link(href='javascript:void(0)')
						i.fas.fa-home
						| Home
				li.nav-item
					a.nav-link(href='javascript:void(0)')
						i.far.fa-copy
						| Document
